<h1>Edit Post</h1>

<div class="row">
    <div class="col-md-4">
        <p>Guidelines for posts</p>
            <ul>
                <li>Don't be rude</li>
                <li>Don't be mean</li>
                <li>Don't smell</li>
            </ul>
    </div>
    <div class="col-md-8">
        <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
    </div>
</div>